<% include header %>

<title>Results Page</title>
</head>

	
	  <% if(data.length>0){ %>
		<body>
			<<body>
				<div class="container">
					<h1 class ="text-center mt-4" style="font-size:48px;">Search Results</h1>
					<div style="text-align:center; font-size:16px">  
						<a  href="/"><p class="btn btn-outline-warning "> Back To Search</p></a>
					</div>
				<table class ="align-middle text-center mt-4 center table table-hover table-border" >
				  <tr>
					<th>Cover</th>
					<th>Name</th>
					<th>Description</th>
					<th>Year film</th>
					<th>Year Ceremony</th>
					
					<th>IMDB Link</th>
					<th>Streaming Link</th>
					<th>Oscar Category</th>
					<th>Winner</th>
				  </tr>
	  <% data.forEach(function(movie){ %>
	  <tr>
		<% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
		<% var streamingLink = "https://streamvideo.link/getvideo?key=cmlinIufEwFXuZrA&video_id=" + movie['imdbID'] %>
		<td class="align-middle"><img src="<%= movie['Poster'] %>" alt=""></td>
		<td class="align-middle"><%= movie.film %></td>
		<td class="align-middle"><%= movie.Plot %></td>
		<td class="align-middle"><%= movie.year_film %></td>
		<td class="align-middle"><%= movie.year_ceremony %></td>      
		<td class="align-middle"><a href="<%= movie.IMDBReviewsLink %>">View on IMDB</a></td>
		<td class="align-middle"><a href="<%= movie.StreamingLink %>">Watch Now</a></td>
		<td class="align-middle"><%= movie.category %></td>
		<td class="align-middle"><%= movie.winner %></td>
	  </tr>
	  <% }) } else {%>
		  <h1 style="text-align:center; padding-top : 2.5%">Invalid Search, Please Try Again</h1>
	  <% }%>

	</table>
	
	<br/>
	<div class="text-center">
	 <a  href="/"><p class="btn btn-outline-warning "> Search Again!</p></a>
	</div>
</div>
</body>

</html>

